<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8" />   
    <title>VolleyMatchAnalisis</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="@Url.Content("~/css/site.css")" />
</head>
<body>
    <nav>
        <ul>
            <li><a href="/Squadre/Index">Squadre</a></li>
            <li><a href="/VisualizzaDati/Index">Gare</a></li>
            <li><a href="/AnalizzaDati/Index">Analizza Gare</a></li>
            <li><a href="/Atleti/Index">Atleti</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)">Import Dati</a>
                <div class="dropdown-content">
                    <a href="/ImportDati/Index">Import Dati Gare</a>
                    <a href="/ImportAtleti/Index">Import Atleti</a>
                </div>
            </li>
        </ul>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>