@page
@{
    Layout = "_Layout";
}
<div class="titolo-logo-centrato">
    <img src="~/images/Logo.png" alt="Logo VolleyMatchAnalisis" class="logo-grande" />
    <h1 class="titolo-grande">Benvenuto in VolleyMatchAnalisis</h1>
</div>